/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-red: #ff0800;
  --color-dark-red: #b80600;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-dark-blue: #3f51b5;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-purple: #9000f0;
  --color-dark-purple: #590094;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 16px;
  position: fixed;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 10;
}

#navbar.navbar--dark {
  background-color: var(--color-red);
  padding: 8px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-red);
  border-color: var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("images/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  background-color: var(--color-light-white);
  border-radius: 50%;
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-orange);
}

/* Section common */
.section {
  padding: 70px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 0px;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 1px solid var(--color-blue);
  margin-bottom: 16px;
  transition: all var(--animation-duration) ease;
}

.major__icon:hover {
  transform: rotate(30deg) scale(1.2);
}

.major__title {
  color: var(--color-dark-grey);
}

.edu,
.certificate {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.edu__description,
.certificate__description {
  margin: 0 16px;
  text-align: left;
}

.edu__title,
.edu__period,
.certificate_title,
.certificate__date {
  color: var(--color-light-grey);
}

.edu__title,
.edu__name,
.certificate_title,
.certificate_name {
  font-size: var(--font-small);
}

.edu__period,
.certificate__date {
  font-size: var(--font-micro);
}

.edu__logo,
.certificate__logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.edu__certificate {
  color: var(--color-blue);
}

/* Skill */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 10px 20px;
}

.skill {
  margin-bottom: 72px;
}

.skill__description {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.progress__step {
  list-style-type: none;
  margin: 0 auto;
}

.progress__step li {
  box-sizing: border-box;
  float: left;
  background-color: var(--color-grey);
  height: 50px;
  text-align: center;
  padding: 15px 15px 15px 50px;
  position: relative;
  margin-left: 10px;
}

.progress__step li:before {
  content: "";
  position: absolute;
  border: 25px solid transparent;
  border-left-color: var(--color-dark-grey);
  top: 0px;
  right: -60px;
}

.progress__step li:after {
  content: "";
  position: absolute;
  border: 25px solid transparent;
  border-left-color: var(--color-grey);
  top: 0px;
  right: -50px;
}

.progress__step li:nth-child(1) {
  z-index: 4;
  margin-left: 0;
  padding-left: 30px;
}
.progress__step li:nth-child(2) {
  z-index: 3;
}
.progress__step li:nth-child(3) {
  z-index: 2;
}
.progress__step li:nth-child(4) {
  z-index: 1;
  padding-right: 30px;
}

.progress__step li:nth-child(4):after,
.progress__step li:nth-child(4):before {
  border: none;
}

.progress__step li.current {
  background-color: var(--color-orange);
  color: var(--color-white);
}
.progress__step li.current:after {
  border-left-color: var(--color-orange);
}
.progress__step li.complete {
  background: var(--color-dark-blue);
  color: var(--color-white);
}
.progress__step li.complete:after {
  border-left-color: var(--color-dark-blue);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Portfolio */

.portfolio__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 5px;
}

.category__count {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.portfolio__projects.animation-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project {
  width: 280px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/* Good words */
#goodWords {
  background-color: var(--color-light-white);
}

.words {
  margin: 40px;
}

.word {
  display: flex;
  margin: 32px 0;
}

.word__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.word__avatar:nth-child(odd) {
  margin-right: 40px;
}

.word__avatar:nth-child(even) {
  margin-left: 40px;
}

.word__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.word__speech-bubble p {
  color: var(--color-light-grey);
}

.word__speech-bubble a {
  color: var(--color-purple);
}

/* Contact */
#contact {
  background-color: var(--color-red);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 50%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-red);
  }

  #navbar.navbar--dark {
    padding: 16px;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }

  .about__majors {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 30px;
  }

  .skillset {
    flex-direction: column;
  }

  .skillset__left {
    padding: 5px 10px;
  }

  .progress__step li {
    height: 30px;
    font-size: var(--font-micro);
    padding: 7px 7px 7px 25px;
    margin-left: 10px;
  }

  .progress__step li:before {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-left-color: var(--color-dark-grey);
    top: 0px;
    right: -40px;
  }

  .progress__step li:after {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-left-color: var(--color-grey);
    top: 0px;
    right: -30px;
  }

  .progress__step li:nth-child(1) {
    padding-left: 15px;
  }
  .progress__step li:nth-child(4) {
    padding-right: 15px;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .word {
    flex-direction: column;
    align-items: center;
  }

  .word__avatar {
    width: 120px;
    height: 120px;
  }

  .word__avatar:nth-child(even),
  .word__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .word__speech-bubble {
    order: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 86px;
  }
}
